ul {
  list-style-type: none;
}

.song {
  display: flex;
  flex-direction: row;
}

.song_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.song__number {
  flex: 1;
}

.song__artist {
  font-size: 60%;
}

/* <div className="song__title">{song.title}</div>
<div className="song__artist">{song.artist}</div>
<div className="song__number">{song.songNumber}</div> */
